<section class="container pt-70">
  <h1 class="title">PelisUP!</h1>
  <p class="body-regular description">
    Plataforma para ver películas y series 😉
  </p>
  <input
    class="search"
    name="search"
    placeholder="&#xF002; Buscar películas y series"
    type="search"
  />
  <div class="tab pr-0 pl-0 col-md-6 col-12">
    <li class="link-regular item-tab active">Todos</li>
    <li class="link-regular item-tab">Películas</li>
    <li class="link-regular item-tab">Series</li>
  </div>
  <h3 class="all d-block">Todos <small class="body-regular">(120)</small></h3>
  <div class="d-flex justify-content-center align-items-start flex-wrap">
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>6.8
      </div>
      <img class="portada" src="./assets/img/1-black-widow.svg" alt="portada" />
      <p class="title-card link-regular">Black Widow</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>7.9
      </div>
      <img class="portada" src="./assets/img/2-shang-chi.svg" alt="portada" />
      <p class="title-card link-regular">Shang Chi</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>8.4
      </div>
      <img class="portada" src="./assets/img/3-loki.svg" alt="portada" />
      <p class="title-card link-regular">Loki</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>8.3
      </div>
      <img
        class="portada"
        src="./assets/img/4-how-i-met-your-mother.svg"
        alt="portada"
      />
      <p class="title-card link-regular">How I Met Your Mother</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>8.3
      </div>
      <img class="portada" src="./assets/img/5-money-heist.svg" alt="portada" />
      <p class="title-card link-regular">Money Heist</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>8.8
      </div>
      <img class="portada" src="./assets/img/6-friends.svg" alt="portada" />
      <p class="title-card link-regular">Friends</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>8.1
      </div>
      <img
        class="portada"
        src="./assets/img/7-the-big-bang-theory.svg"
        alt="portada"
      />
      <p class="title-card link-regular">The Big Bang Theory</p>
    </div>
    <div class="card col-md-3 col-12">
      <div
        class="star d-flex justify-content-center align-items-center qualification"
      >
        <i class="far fa-star mr-1"></i>7.0
      </div>
      <img
        class="portada"
        src="./assets/img/8-two-and-a-half-men.svg"
        alt="portada"
      />
      <p class="title-card link-regular">Two And a Half Men</p>
    </div>
  </div>
</section>
